@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

$yellow: #FADB5F;
$white: #fff;
$dgrey: #333;
$font-stack: 'Roboto Condensed', sans-serif;

@function image-url($path) {
  @return url("/images/#{$path}");
}

body { font-family: $font-stack !important; }

.text-center {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: $yellow;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  color: $yellow;
  margin: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
  color: $white;
  margin: 0;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  color: $white;
  margin: 0;
}


.views {
  .view.view-main {
    .page {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url("bridge_bg.jpg") no-repeat center;
      background-size: auto 100%;
      background-position-x: 15%;
    }
  }
}

@import "home";
@import "login";
