doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title Iceburgh | Explore Pittsburgh

    // Framework7 Library CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.2.0/css/framework7.ios.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.2.0/css/framework7.ios.colors.min.css")

    // FontAwesome
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

    // Custom styles
    link(rel="stylesheet", href="css/app.css")

    // JS Libraries
    script(type="text/javascript", src="vendor/jquery.min.js")
    script(type="text/javascript", src="vendor/framework7.min.js")
    script(type="text/javascript", src="vendor/parse.min.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKRamxygJm5g2I_4Usj7ldFwgpWG6h2-Y")


body
  .screen-loader-container
    .screen-loader
