script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.2.0/js/framework7.min.js")
script(type="text/javascript", src="js/app.js")
script. 
  var userName = "";
  if(typeof FB === 'undefined'){
    setTimeout(function(){
      //do what you need here
      updateUserName();
      console.log("yo")
    }, 150);
  }else{
    updateUserName();
  }
  
  function updateUserName(){
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        var accessToken = response.authResponse.accessToken;
        console.log(accessToken);
        FB.api('/me', function(response) {
          userName = response.name;
          console.log("hey my name is "+ userName);
          document.getElementById("username").innerHTML = userName;
          var userNames = document.getElementsByClassName("userName");
          for(i = 0; i < userNames.length; i++){
            var element = userNames[i];
            element.innerHTML = userName;
          }
        });
        FB.api('/me/friends', {fields: 'name'}, function(response) {
          var friends = response.data;
          console.log("friends info");
          console.log(friends);
          
        });

      }
    });
  }
  
