//- Define current page for tabbar's sake
- var currentPage = 'discoverable'

include _head.jade

.views
  .view.view-main#discoverable
    .pages
      .page(data-page="discoverable")
        include _tabbar.jade
        .navbar
          .navbar-inner
            .left #[i.fa.fa-chevron-left]&ensp;Back
            .right #[i.fa.fa-star-o]

        .page-content
          .row#title
            .col-82
              h3 Mattress Factory
              h2 North Side
            .col-18
              .point-value 15
              //- .swiper-container#trending-gallery
              //-   .swiper-wrapper
              //-     .swiper-slide
              //-       span Trending 1
              //-     .swiper-slide
              //-       span Trending 2
              //-     .swiper-slide
              //-       span Trending 3
              //-     .swiper-slide
              //-       span Trending 4
              //-     .swiper-slide
              //-       span Trending 5
              //- h1 Explore
              //- .infinite-scroll
              //-     ul#explore-list
              //-       - for (var i=0;i<30;i++) {
              //-         li.item-content
              //-           .explore-item #[span Item #{i}]
              //-       - }
                // Preloader
                .infinite-scroll-preloader
                  .preloader




include _js.jade
