//- Define current page for tabbar's sake
- var currentPage = 'discover'

include _head.jade

.views
  .view.view-main#discover
    .pages
      .page(data-page="discover")
        include _tabbar.jade

        form.searchbar
          .searchbar-input
            input(type='search', placeholder='Search')
            a.searchbar-clear(href='#')
          a.searchbar-cancel(href='#') Cancel
        // Search bar overlay
        .searchbar-overlay

        .page-content.hide-navbar-on-scroll
          .row#trending
            .col-100
              h1 Trending Right Now
              .swiper-container#trending-gallery
                .swiper-wrapper
          .row#explore
            .col-100
              h1 Explore
              .infinite-scroll
                  ul#explore-list



include _js.jade
