//- Define current page for tabbar's sake
- var currentPage = 'discoverable'

include _head.jade

.views
  .view.view-main#discoverable
    .pages
      .page(data-page="discoverable")
        include _tabbar.jade
        .navbar
          .navbar-inner
            .left #[i.fa.fa-chevron-left]&ensp;Back
            .right #[i.fa.fa-star-o]

        .page-content
          .row#title
            .col-82
              h3 Mattress Factory
              h2 North Side
            .col-18
              .point-value 15
            .swiper-container#photo-gallery
              .swiper-wrapper
                .swiper-slide
                  img(src="images/mattress.jpg")
                .swiper-slide
                  img(src="images/butcher.jpg")
                .swiper-slide
                  img(src="images/mattress.jpg")
                .swiper-slide
                  img(src="images/butcher.jpg")
                .swiper-slide
                  img(src="images/mattress.jpg")




include _js.jade
