//- Define current page for tabbar's sake
- var currentPage = 'discover'

include _head.jade

body
  .views
    .view.view-main#discover
      .pages
        .page(data-page="discover")
          include _tabbar.jade
          .page-content


  include _js.jade
