//- Define current page for tabbar's sake
- var currentPage = 'discoverable'

include _head.jade

.views
  .view.view-main#discoverable
    .pages
      .page(data-page="discoverable")
        include _tabbar.jade
        .navbar
          .navbar-inner
            a.left(href="javascript:history.back()") #[i.fa.fa-chevron-left]&ensp; Back
            .right #[i.fa.fa-star-o]

        .page-content
          .row#title
            .col-82
              h3 Mattress Factory
              h2 North Side
            .col-18
              .point-value 15
          .row#photo-browser
            .col-100
              .swiper-container#photo-gallery
                .swiper-wrapper
          .row#about
            .col-100.content-block
              .row
                .col-100
                  p#about-header About
                  p#description
              .row#links
                .col-50
                  p On the web:
                  a.external#web(target='_blank') http://www.mattress.org
                .col-50
                  p On the street:
                  a.external#street(target='_blank') 500 Sampsonia Way






include _js.jade
