include _head.jade

body
  // Status bar overlay for fullscreen mode
  .statusbar-overlay

  .views
    .view.view-main#home
      .pages
        .page(data-page="home")
          .page-content
            .row.profile
              .col-20
                #profile-pic
              .col-60#user-info
                h2 Andrew Carnegie
                h4 Level 1 | 9 Badges
              .col-20
                p#checkin.text-center Check in
  include _js.jade
