//- Define current page for tabbar's sake
- var currentPage = 'home'

include _head.jade

.views
  .view.view-main#home
    .pages
      .page(data-page="home")
        include _tabbar.jade
        .page-content
          #user-info-container
            .row.profile
              .col-80
                #profile-pic
                #user-details
                  h2#user-name Andrew Carnegie
                  h4 Level #[span#user-level]&ensp;|&ensp;#[i.fa.fa-trophy] #[span#user-badges]
              .col-20
                p.text-center#checkin Check in


            .row.text-center#level-progress
              .col-100
                #progress-bar
                  img(src="/images/bridge_white.png")
                #progress-bar-fill
                  img(src="/images/bridge_yellow.png")

              //- Progress bar goes here
            .row
              .col-100
                h2.text-center#points-remaining &nbsp;


            .row#status-text
              .col-33
                h5.text-center You've scored #[span#total-points] total points this far. Nice!
              .col-33
                h5.text-center more points needed to reach level #[span#next-level]
              .col-33
                h5.text-center#suggestion Pro Tip: Check out your friends' activity to find cool new places!


          .row#activity-feed
            .col-100
              p#activity-header Activity
              ul

include _js.jade
