//- For redirecting in PG developer app
doctype
html
  head
    title Iceburgh | Explore Pittsburgh
    meta(http-equiv="refresh" content="0; URL='home.html'")
    <script src="//www.parsecdn.com/js/parse-1.6.5.min.js"></script>

