//- Define current page for tabbar's sake
- var currentPage = 'more'

include _head.jade

.views
  .view.view-main#more
    .pages
      .page(data-page="more")
        include _tabbar.jade
        .page-content
          h3#fb-logout Logout



include _js.jade
